.detail #imgdt {
    text-align: center;
}

.detail h2.title {
    color: #27397C;
    font-family: "Baloo 2", sans-serif;
    font-size: 48px;
    font-weight: 800;
}

.detail .desc img {
    max-width: 100% !important;
}

.detail .desc strong {
    color: #27397C;
    font-size: 20px;
    font-weight: 600;
}

.detail .desc h4 {
    margin-top: 20px;
    color: #4DC5C9;
    font-size: 20px;
    font-weight: 900;
}

.detail .btnlike {
    margin-left: 20px;
    font-size: 48px;
}

.detail .slider-products {
    padding: 20px;
}

.icon-box-detail .mfu-icon {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    border-radius: 60px;
    background: #F4F6DA;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.icon-box-detail .mfu-icon svg {
    width: 37.501px;
    height: 30px;
    flex-shrink: 0;
}

.icon-box-detail h4 {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.detail .parameter span {
    background: #FFF8EF;
}

.detail .price {
    color: #707070;
    font-size: 16px;
    font-weight: 700;
}

.detail .price .price-sales {
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
}

.detail .price .price-primary {
    color: #E97A13;
    font-size: 28px;
    font-weight: 800;
}

.detail .swiper {
    width: 100%;
    height: 100%;
}

.detail .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    overflow: hidden;
}

.detail .swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.detail .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.detail .swiper-slide {
    background-size: cover;
    background-position: center;
}

.detail .mySwiper2 {
    height: 80%;
    width: 100%;
}

.detail .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.detail .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.detail .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.detail .mySwiper .swiper-slide {
    height: 120px;
}

.detail .mySwiper .swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .detail h2.title {
        font-size: 38px;
        line-height: 40px;
    }

    .detail #imgdt {
        padding: 0 20px;
    }
}

.rating {
    direction: rtl;
    display: inline-flex;
    gap: 6px;
    font-size: 28px;
    user-select: none;
    align-items: center;
}

.rating input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.rating label {
    cursor: pointer;
    color: #ccc;
    transition: color .15s ease;
}

.rating label:hover,
.rating label:hover~label {
    color: gold;
}

.rating input:checked~label {
    color: gold;
}

.rating input:focus+label {
    outline: 2px solid #9ae;
    outline-offset: 4px;
}

.rating-value {
    margin-left: 12px;
    font-size: 18px;
    vertical-align: middle;
    color: #333;
}

.rating label {
    padding: 6px 4px;
    line-height: 1;
}

@media screen and (max-width: 768px) {
    .rating label {
        padding: 6px 0px;
    }

    #rateModal .modal-header {
        padding: 8px 15px;
    }
}