.section-header {
    padding-bottom: 10px;
}

.section-header.swidth {
    width: 70%;
    margin: 0 auto;
}

.section-header h2 {
    color: #27397C;
    font-family: "Baloo 2", sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}

.section-header h3 {
    color: #14B6C3;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.section-header p {
    margin-top: 15px;
    color: #27397C;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.btn-themes {
    color: #fff;
    text-align: center;
    font-size: 20px;
    background: #14B6C3;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: 500;
}

.btn-themes:hover {
    color: #27397C;
}

.btn-themes img {
    margin-left: 50px;
}

#header {
    padding: 16px 0;
    border-bottom: 2px solid #14B6C3;
    background: #FFF;
}

#header #lang_choosen button {
    background: none;
    border: none;
}

#header #lang_choosen .dropdown-toggle::after {
    color: rgb(47, 47, 136);
}

.fixed-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 10px 0;
    background: #fff;
}

.fixed-menu+#main {
    margin-top: 90px;
}

#logo {
    margin: 10px auto;
}

#logo img {
    max-height: 52px;
}

#title-page {
    padding: 20px 0;
}

#title-page h2 {
    text-align: center;
    color: #37BEC9;
    font-size: 48px;
}

#title-page #breadcrumbs {
    color: #2C2568;
}

#title-page #breadcrumbs span:last-child {
    font-weight: bold;
}

.banner-bg {
    height: 600px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.banner-bg .section-header {
    width: fit-content;
    margin: 0 auto;
}

.banner-bg .section-header::after {
    content: "";
    display: block;
    height: 4px;
    background: #fff;
    width: 40%;
    margin: 0px auto;
    margin-top: 10px;
}

.banner-bg .section-header h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    width: fit-content;
}

.banner-bgs {
    position: relative;
    height: 760px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
}

.banner-bgs h2 {
    position: absolute;
    right: 20%;
    bottom: 30%;
    color: #14B6C3;
    text-align: right;
    font-family: "Baloo 2", sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-bgs h2::after {
    content: "";
    display: block;
    height: 4px;
    background: #14B6C3;
    width: 30%;
    margin-top: 10px;
    margin-left: auto;
}

.banner-bgs .content {
    position: absolute;
    right: 20%;
    bottom: 30%;
    color: #14B6C3;
    font-family: "Baloo 2", sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-bgs .content h2 {
    position: relative;
    bottom: unset;
    right: unset;
}

.banner-bgs .content h2::after {
    display: none;
}

.banner-bgs .content h3 {
    color: #27397C;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
}

.banner-bgs .content::after {
    content: "";
    display: block;
    height: 4px;
    background: #14B6C3;
    width: 30%;
    margin-top: 10px;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .banner-bgs h2 {
        right: 10px;
        font-size: 38px;
    }
}

#carouselBanner .carousel-control-prev {
    width: unset;
}

#carouselBanner .carousel-control-next {
    width: unset;
}

#carouselBanner .carousel-indicators button {
    width: 30px;
    height: 3px;
    background: #E9F4FC;
}

#carouselBanner .carousel-indicators button.active {
    background: #02B0BF;
}

.carousel-indicators [data-bs-target] {
    border-top: none;
    border-bottom: none;
}

#banner .carousel-caption {
    color: #2F2F88;
    top: 50%;
    left: 10%;
    right: auto;
    bottom: auto;
    padding: 0;
    text-align: center;
    width: 790px;
    transform: translate(0, -50%);
}

#banner .carousel-caption h5 {
    font-size: clamp(1rem, 0.3881rem + 3.0593vw, 3rem);
    font-weight: 600;
}

#banner .carousel-caption h1 {
    font-size: clamp(1.125rem, 0.3602rem + 3.8241vw, 3.625rem);
    font-weight: 800;
}

#banner .carousel-caption p {
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .section-header.swidth {
        width: 100%;
    }

    .banner-bg {
        height: 320px;
    }

    #banner .carousel-caption {
        top: 10px;
        left: 10px;
        padding: 0;
        text-align: left;
        width: 60%;
        transform: none;
    }

    #banner .carousel-caption .btn-themes {
        padding: 5px 16px;
    }

    #banner .carousel-caption h1 {
        font-size: 25px;
    }

    #banner .carousel-caption h5 {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    #banner .carousel-caption p {
        display: none;
        ;
    }

    .banner-bg .section-header h2 {
        font-size: 38px;
    }

    .section-header h2 {
        font-size: 28px;
    }

    #logo {
        text-align: left;
    }

    #right-box {
        position: absolute;
        top: 26px;
        right: 60px;
    }
}

@media screen and (max-width: 950px) {
    .section-header h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 1200px) {
    #banner .carousel-caption {
        top: 10px;
        left: 10px;
        padding: 0;
        text-align: left;
        width: 70%;
        transform: none;
    }
}

@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a,
    .navmenu a:focus {
        color: #27397C;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
        padding: 16px 28px;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu li:last-child a {
        padding-right: 0;
    }

    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
        font-weight: 900;
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: #fff;
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 150%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        padding-top: 10px;
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 5px 20px;
    }

    .navmenu .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }

    .navmenu .megamenu {
        position: static;
    }

    .navmenu .megamenu ul {
        margin: 0;
        padding: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        display: block;
        position: absolute;
        top: 130%;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        display: flex;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
    }

    .navmenu .megamenu ul li {
        flex: 1;
    }

    .navmenu .megamenu ul li a,
    .navmenu .megamenu ul li:hover>a {
        padding: 10px 20px;
        font-size: 15px;
        color: #fff;
    }

    .navmenu .megamenu ul li a:hover,
    .navmenu .megamenu ul li .active,
    .navmenu .megamenu ul li .active:hover {
        color: #fff;
    }

    .navmenu .megamenu:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dd-box-shadow {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    }
}

/* Mobile Navigation */
@media (max-width: 1199px) {

    #icon-menu {
        position: absolute;
        top: 14px;
        right: 0px;
    }

    .mobile-nav-toggle {
        color: #000;
        font-size: 36px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        padding-top: 0;
    }

    .navmenu a,
    .navmenu a:focus {
        color: #fff3cd;
        padding: 10px 20px;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        color: #fff3cd;
    }

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: #fff3cd;
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        color: #fff3cd;
        transform: rotate(180deg);
    }

    .navmenu .dropdown ul,
    .navmenu .megamenu ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 3px 0;
        margin: 3px 20px;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        margin-top: -10px;
    }

    .navmenu .dropdown ul ul,
    .navmenu .megamenu ul ul {
        background-color: rgba(33, 37, 41, 0.1);
    }

    .navmenu .dropdown>.dropdown-active,
    .navmenu .megamenu>.dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle.bi-x {
        color: #fff;
        position: absolute;
        font-size: 48px;
        top: -10px;
        right: 0px;
        margin-right: 0;
        z-index: 9999;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(0, 0, 0, 0.9);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu>ul {
        display: block;
    }

    .mobile-nav-active .navmenu>ul>li a {
        color: #fff;
    }

    .mobile-nav-active .navmenu>ul>li.lang-mb a {
        display: inline-block;
    }

    .mobile-nav-active .navmenu>ul>li.lang-mb a.active {
        color: #C05B3A;
    }
}


#sec_content img {
    max-width: 100% !important;
}

#core-values {
    padding-top: 100px;
    padding-bottom: 100px;
}

#core-values .box-values .img img {
    max-height: 75px;
}

#core-values .box-values h4 {
    color: #14B6C3;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 25px 0;
}

#core-values .box-values .content {
    color: #27397C;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

@media screen and (max-width: 768px) {
    #box-values {
        padding-top: 0;
    }

    #header-about {
        text-align: center;
    }
}

#aboutus-company {
    background: url(../images/aboutus-company.png) no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}

#aboutus-company .title {
    border-radius: 40px;
    background: #4DC5C9;
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    padding: 12px 8px;
}

#aboutus-company .content {
    color: #27397C;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

#aboutus-company .culture {
    margin: 0 auto;
    margin-top: 120px;
    width: 70%;
    text-align: center;
}

#aboutus-company .culture .content {
    color: #27397C;
    text-align: center;
    font-size: 32px;
}

#aboutus-company .culture .content strong {
    font-weight: 900 !important;
}

@media screen and (max-width: 768px) {
    #aboutus-company .culture {
        width: 100%;
    }

    #aboutus-company .culture .content {
        font-size: 22px;
    }
}

#about-activity {
    background: url(../images/bg-activity.png) repeat-x left top #386fa5;
    padding-top: 120px;
    color: #FFF;
}

#about-activity .section-header * {
    color: #FFF !important;
}

#about-activity .content {
    line-height: 32px;
}

#about-us-page {
    margin-top: 80px;
    padding-bottom: 10%;
}

#panel-about-us {
    position: relative;
}

#panel-about-us .img {
    position: absolute;
    right: 5%;
    bottom: -20%;
}

#about-us-page #box-about-us {
    position: relative;
    width: 70%;
    background: #E6F4FD;
    padding: 25px 50px;
    padding-right: 80px;
}

#about-us-page #box-about-us:after {
    content: "";
    position: absolute;
    background: url("../images/about_comma.png") no-repeat;
    width: 138px;
    height: 49px;
    bottom: -49px;
    right: 10%;
}

#about-us-page #box-about-us .title {
    color: #14B6C3;
    font-size: 24px;
    font-weight: 700;
}

#about-us-page #box-about-us .desc {
    color: #27397C;
    font-family: "Baloo 2", sans-serif;
    font-size: 65px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 60px;
}

#about-us-page #box-about-us .content {
    margin-top: 20px;
    color: #27397C;
    text-align: justify;
    line-height: 32px;
}

@media screen and (max-width: 768px) {
    #about-us-page #box-about-us {
        width: 100%;
        padding: 20px 20px;
    }

    #panel-about-us .img {
        position: relative;
        right: unset;
        bottom: unset;
        margin-top: 50px;
        text-align: center;
    }

    #about-us-page #box-about-us:after {
        right: unset;
        left: 20px;
    }

    #panel-about-us .img img {
        width: 80%;
    }
}

.aboutus-section {
    background: #E6F4FD;
}

#about-1.aboutus-section .info {
    margin-right: 16.666667%;
    padding: 25px 35px;
}

#about-2.aboutus-section .info {
    margin-left: 16.666667%;
    padding: 25px 35px;
}

.aboutus-section .info .title {
    margin: 0;
    padding: 0;
    color: #14B6C3;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.aboutus-section .info .desc {
    color: #27397C;
    font-family: "Baloo 2", sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.aboutus-section .info .content {
    margin-top: 25px;
    color: #27397C;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
}

#about-3 {
    position: relative;
}

#about-3 .title {
    color: #14B6C3;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

#about-3 .content {
    color: #27397C;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#about-3 .img img {
    width: 100%;
}

#about-3 .info {
    position: absolute;
    top: 50px;
    right: 8.333333%;
    width: 480px;
}

#about-4 .title {
    color: #14B6C3;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    #about-1.aboutus-section .info {
        margin-right: 0;
        padding: 25px;
    }

    #about-2.aboutus-section .info {
        margin-left: 0;
        padding: 25px;
    }

    .aboutus-section .info .title {
        font-size: 22px;
    }

    .aboutus-section .info .desc {
        margin-top: 20px;
        line-height: 30px;
    }

    #about-3 .info {
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
        top: unset;
        right: unset;
        width: 90%;
    }

    #about-3 .title {
        font-size: 22px;
    }

    #about-4 .title {
        font-size: 22px;
    }
}

#video-home {
    background: #0f0f0f;
}

#video-home iframe {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #video-home iframe {
        width: 100%;
        height: 320px;
    }
}

#about-us-home {
    background: url(../images/about-home-g.jpg) left top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 160px;
}

#about-us-home .warp {
    width: 750px;
    margin: 0 auto;
    border-radius: 15px;
    background: #FFF;
    padding: 30px;
}

#about-us-home .about-us-text {
    padding: 38px;
    text-align: center;
}

#about-us-home .about-us-text h3.desc {
    color: #14B6C3;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;

}

#about-us-home .about-us-text h2.title {
    color: #27397C;
    font-family: "Baloo 2", sans-serif;
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
}

#about-us-home .about-us-text .content {
    margin-top: 30px;
    color: #27397C;
}

@media screen and (max-width: 768px) {
    #about-us-home .warp {
        width: 96%;
    }

    #about-us-home .about-us-text {
        padding: 15px;
    }

    #about-us-home .about-us-text h2.title {
        font-size: 38px;
    }

    #about-us-home .about-us-text h3.desc {
        font-size: 28px;
    }

}

#about-us {
    position: relative;
    padding: 80px 0;
}

#about-us h2.title {
    color: #14B6C3;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
}

#about-us .desc {
    color: #27397C;
    text-align: right;
    font-family: "Baloo 2", sans-serif;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
}

#about-us .content {
    color: #27397C;
    text-align: justify;
}

#about-us .about-us-text {
    text-align: justify;
}

#about-us .about-us-text h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #2F2F88;

}

#about-us .about-us-text h2 {
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    color: #37BEC9;
}

.about-us-mission {
    text-align: left;
}

.about-us-mission .img img {
    max-height: 75px;
}

.about-us-mission h4 {
    color: #14B6C3;
    font-size: 32px;
    font-weight: 900;
}

.about-us-mission .content {
    text-align: justify;
    color: #27397C;
    font-weight: 400;
    line-height: 32px;
}

.about-us-logo h2 {
    color: #2F2F88;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

#about-us-team {
    margin-top: 50px;
    background: url(../images/bgteam.jpg) repeat-x bottom #30308a;
    padding-top: 150px;
    padding-bottom: 350px;
    color: #ffffff;
}

#about-us-team .section-header h2 {
    color: #ffffff;
}

#path_history {
    position: relative;
    margin-top: 60px;
    margin-bottom: 100px;
}

#path_history::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    background: #C6EDFF;
    width: 30px;
    height: 110%;
    z-index: 101;
    transform: translate(-50%, -5%);
    border-radius: 30px;
}

#about-us-history .history_year {
    width: 150px;
    height: 130px;
    line-height: 130px;
}

#about-us-history .history_year span {
    color: #F6FEFF;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    width: 130px;
    display: block;
}

#about-us-history .history_year.year1 {
    background: url(../images/history_year1.png) repeat;
    float: right;
}

#about-us-history .history_year.year2 span {
    float: right;
}

#about-us-history .history_year.year2 {
    background: url(../images/history_year2.png) repeat;
}

#about-us-history .history_year.year3 {
    background: url(../images/history_year3.png) repeat;
    float: right;
}

#about-us-history .history_point {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    z-index: 102;
}

#about-us-history .history_point.point1 {
    background: url(../images/point1.png) repeat;
}

#about-us-history .history_point.point2 {
    background: url(../images/point2.png) repeat;
}

#about-us-history .history_point.point3 {
    background: url(../images/point3.png) repeat;
}

#about-us-prize {
    margin-bottom: 150px;
}

#about-us-prize #box_prize {
    position: relative;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    margin: 0 auto;
    border-top: none;
    padding: 80px 30px;
    z-index: 101;
    margin-top: -200px;
}

#about-us-prize .box-item {
    text-align: center;
}

#about-us-prize .prizeSwiper {
    padding: 0 50px;
}

#about-us-prize .prizeSwiper .box-item h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #2F2F88;
}

#about-us-prize .prizeSwiper .box-item div {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    color: #2F2F88;
}

.prizeSwiper .stars {
    margin: 12px 0;
}

.prizeSwiper .stars i {
    color: #FFD317;
    margin-right: 5px;
}

#about-us-prize .prizeSwiper .swiper-button-next-01 {
    right: -18px;
    top: 155px;
}

#about-us-prize .prizeSwiper .swiper-button-prev-01 {
    left: -18px;
    top: 155px;
}

#about-us-prize .prizeSwiper .swiper-button-next-01 i,
#about-us-prize .prizeSwiper .swiper-button-prev-01 i {
    color: #2F2F88;
    font-size: 40px;
}

@media screen and (max-width: 768px) {

    #about-us-history .history_year {
        position: relative;
        background: none !important;
        float: none !important;
        z-index: 102;
        width: 80px !important;
        height: 80px !important;
        line-height: 80px !important;
    }

    #about-us-history .history_year span {
        width: 100%;
        font-size: 22px !important;
        border-radius: 50%;
    }

    #about-us-history .history_year.year1 span {
        background: #37BEC9;
    }

    #about-us-history .history_year.year2 span {
        background: #E6428D;
    }

    #about-us-history .history_year.year3 span {
        background: #FFD317;
    }

    .about-us-mission h4 {
        text-align: center;
    }

    .about-us-mission .img {
        text-align: center;
        margin: 0 auto;
    }

    #path_history::after {
        left: 40px;
    }

    .history_point {
        display: none;
    }

    #about-us-history .history_year {
        margin-bottom: 20px;
    }

    #about-us .about-us-text h2 {
        font-size: 42px;
    }

    .about-us-mission p {
        text-align: left;
    }

}

#products-home {
    margin-top: 50px;
}

#products-home .view-all .btn-themes {
    color: #4DC5C9;
    font-weight: 500;
    background: #FFF;
}

#top-products-home {
    background: url("../images/top-products-home.png") repeat-x;
    height: 158px;
}

#products-home .warp {
    background: url(../images/products-home.jpg) no-repeat left top #67bccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding-bottom: 200px;
}

#products-home .warp .img {
    border-radius: 15px;
    background: #FFF;
    height: 320px;
    text-align: center;
    padding: 30px;
}

#products-home .warp .img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#products-home .box-products-home {
    margin-bottom: 80px;
}

#products-home h3.title {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

#products-home .desc {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

#products-home .content {
    margin-top: 30px;
    margin-bottom: 40px;
}

@media screen and (max-width: 960px) {
    #products-home .btn-themes img {
        margin-left: 10px;
    }

    #products-home .btn-themes {
        font-size: 16px;
        padding: 16px;
    }
}

#pro-list .box-item {
    margin-bottom: 50px;
}

#pro-list .box-item .img {
    height: 330px;
    padding: 20px 45px;
    border-radius: 15px;
    background: #F3F3F3;
    text-align: center;
}

#pro-list .box-item .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#pro-list .box-item .title {
    margin-top: 20px;
    color: #27397C;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

#pro-list .box-item .desc {
    color: #27397C;
    text-align: justify;
    font-size: 16px;
    height: 90px;
    overflow: hidden;
}

#pro-list .box-item .more {
    margin-top: 20px;
}

#pro-uses {
    background: url(../images/bg-uses.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 0;
}

#pro-uses .title-header {
    color: #27397C;
    font-size: 32px;
    font-weight: 900;
}

#pro-uses .box-uses .content {
    margin-top: 30px;
    color: #27397C;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

#pro-guide .title {
    color: #4DC5C9;
    font-size: 20px;
    font-weight: 900;
}

#pro-guide .content {
    color: #27397C;
}

#pro-guide .content strong {
    font-size: 20px;
    font-weight: 800;
}

#panel-pro-cus {
    background: url(../images/aboutus-company.png) no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 20px;
}

#panel-pro-cus .content {
    color: #27397C;
}

#panel-pro-cus .content h4 {
    color: #4DC5C9;
    font-size: 20px;
    font-weight: 900;
}

#pro-rate .title-section {
    color: #27397C;
    text-align: justify;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#pro-rate #list-rate {
    color: #27397C;
}

#pro-rate #frmrate {
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 4px 6px 0 rgba(47, 47, 136, 0.50);
}

#pro-rate #frmrate .title {
    color: #4DC5C9;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 30px;
}

#pro-rate #frmrate .label {
    display: block;
    color: #27397C;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

#pro-rate #frmrate #btn-send {
    color: #fff;
    text-align: center;
    font-size: 20px;
    background: #14B6C3;
    padding: 6px 20px;
    border-radius: 30px;
    font-weight: 500;
    border: none;
}

@media screen and (max-width: 768px) {
    #pro-rate #frmrate {
        width: 100%;
        padding: 20px;
    }
}

#related-pro .section-header h2 {
    text-transform: unset;
}

#related-pro .box-item {
    margin-bottom: 50px;
}

#related-pro .box-item .img {
    height: 330px;
    padding: 20px 45px;
    border-radius: 15px;
    background: #F3F3F3;
    text-align: center;
}

#related-pro .box-item .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#related-pro .box-item .title {
    margin-top: 20px;
    color: #27397C;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

#related-pro .box-item .desc {
    color: #27397C;
    text-align: justify;
    font-size: 16px;
    height: 90px;
    overflow: hidden;
}

#related-pro .box-item .more {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    #related-pro .section-header h2 {
        font-size: 22px;
    }

    #related-pro .btn-themes {
        padding: 8px;
    }

    #related-pro .btn-themes img {
        margin-left: 10px;
    }

    #related-pro .btn-themes {
        font-size: 16px;
    }
}

#projects #projectTab {
    border-bottom: 4px solid #C6EDFF;
}

#projects #projectTab .nav-link {
    display: unset;
    color: #2F2F88;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

#projects #projectTab #cleverbox-tab.nav-link.active {
    font-weight: 700;
    border: none;
    background: none;
    border-bottom: 9px solid #37BEC9;
}

#projects #projectTab .nav-link.active {
    font-weight: 700;
    border: none;
    background: none;
    border-bottom: 9px solid #F6E615;
}

#projects #projectTab .nav-link:hover,
#projects #projectTab .nav-link:focus {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

#projects .projects_title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    color: #37BEC9;
    text-transform: uppercase;
}

#projects .projects_title.tab2 {
    color: #FCD400;
}

#projects .projects-text h4 {
    color: #2F2F88;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.shop_system .title {
    color: #2F2F88;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 50px;
}

.shop_system .box_shop {
    margin-bottom: 30px;
}

.shop_system .box_shop h3 {
    color: #37BEC9;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}

.shop_system .box_shop div {
    margin-bottom: 8px;
}

#shop_system2.shop_system .box_shop h3 {
    color: #FCD400;
}

#projects .btn-themes:hover {
    color: #fff;
}

#projects .btn-themes img {
    margin-left: 60px;
}

#peektoy-tab-pane .btn-themes {
    background: #FCD400;
    color: #2F2F88;
}

@media screen and (max-width: 768px) {
    #projects #projectTab .nav-link {
        font-size: 20px;
    }

    #projects .projects_title {
        font-size: 46px;
    }
}

#partner {
    margin: 0 auto;
    margin-top: -150px;
    position: relative;
    width: 75%;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #ccc;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-top: none;
    padding: 30px;
    z-index: 101;
}

#partner #box_partner {
    margin-top: 30px;
}

#partner .box-item {
    height: 130px;
}

#partner .featureSwiper {
    padding: 0 40px;
}

#partner #box_partner .swiper-button-next-01 {
    right: -15px;
    top: 34px;
}

#partner #box_partner .swiper-button-prev-01 {
    left: -15px;
    top: 34px;
}

#partner #box_partner .swiper-button-next-01 i,
#partner #box_partner .swiper-button-prev-01 i {
    color: #2F2F88;
    font-size: 40px;
}


@media screen and (max-width: 768px) {
    #partner {
        width: 96%;
        background: #fff;
    }

    #partner #box_partner .swiper-button-next-01,
    #partner #box_partner .swiper-button-prev-01 {
        top: 35px;
    }

    #partner .featureSwiper {
        padding: 0;
    }
}

#panel_partner {
    margin-bottom: 60px;
}

#panel_partner .section-header .desc {
    color: #27397C;
    text-align: center;
    line-height: 32px;
}

#panel_partner .title {
    color: #14B6C3;
    font-size: 32px;
    font-weight: 900;
}

#panel_partner .text {
    color: #27397C;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#panel_partner .img_st {
    text-align: center;
}

#panel_partner .img_st img {
    border-radius: 50%;
}

#panel_partner .img {
    width: 25%;
    display: inline-block;
}

#panel_partner .inner {
    padding: 8px 25px;
}

#panel_partner .img img {
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    #panel_partner .img {
        width: 50%;
    }
}

.testimonials {
    background: url("../images/bgreview.jpg") repeat-x #2f2f88;
    margin-top: -200px;
    padding-top: 350px;
    padding-bottom: 10px;
    z-index: 100;
    color: #fff;
}

#panel_testimonials {
    width: 75%;
    margin: 0 auto;
}

.testimonials .section-header h2 {
    color: #fff;
}

.testimonial-item {
    width: 80%;
    margin: 0 auto;
    color: #F6FEFF;
}

.testimonial-item .user-title {
    font-size: clamp(1.125rem, 0.845rem + 1.4vw, 2rem);
    font-weight: 700;
    margin-bottom: 0;
}

.testimonial-item .position {
    font-size: 20px;
    font-weight: 400;
}

.testimonial-item .testimonial-img {
    width: 150px;
}

.testimonial-item .testimonial-comment {
    padding: 60px 0;
}

.testimonial-item .testimonial-comment span {
    display: block;
    position: relative;
}

.testimonial-item .testimonial-comment .comma-content {
    width: 70%;
}

.testimonial-item .testimonial-comment .comma-start {
    margin-top: -30px;
}

.testimonial-item .testimonial-comment .comma-end {
    margin-top: 30px;
}

.testimonial-item .testimonial-comment .comma-end img {
    position: absolute;
    bottom: -50px;
    right: 0;
}

.testimonials .testimonial-title {
    margin-top: 30px;
    font-size: 18px;
}

.testimonials .testimonial-comment {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.reviewSwiper {
    padding-bottom: 60px;
}

.reviewSwiper .stars {
    margin-top: 12px;
}

.reviewSwiper .stars i {
    color: #FFD317;
    margin-right: 5px;
}

.reviewSwiper .swiper-button-next-01 i,
.reviewSwiper .swiper-button-prev-01 i {
    color: #fff;
    font-size: 40px;
}



@media screen and (max-width: 768px) {
    .testimonials {
        text-align: center;
    }

    #panel_testimonials {
        width: 100%;
    }

    .testimonial-item .testimonial-img {
        width: 80px;
    }

}

#follow_on {
    padding-bottom: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

#follow_on img {
    margin: 0 10px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact {
    padding-top: 60px;
}

#panel_contact {
    margin-top: 30px;
    margin-left: 100px;
}

#contact #frmContact {
    margin-top: 30px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 4px 6px 0 rgba(47, 47, 136, 0.50);
}

#contact .contact-item i {
    font-size: 35px;
    margin-right: 12px;
}

#contact #btnContact {
    padding: 6px 24px;
    border-radius: 20px;
    background: #37BEC9;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
}

#contact #frmContact input {
    border: none;
    background: none;
    height: 36px;
    border-bottom: 1px solid #37BEC9;
    width: 100%;
    margin-bottom: 20px;
}

#contact #frmContact input::placeholder {
    color: #37BEC9;
    opacity: 1;
    /* Firefox */
}

#contact #frmContact input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #37BEC9;
}

#panel-contact .contact-item i {
    font-size: 35px;
    margin-right: 12px;
    color: #b48b24;
}

#panel-contact #btnContact {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 6px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #90B239;
    border: none;
    text-transform: uppercase;
    margin-top: 15px;
}

#contact-map {
    position: relative;
}

#contact-map .description {
    position: absolute;
    left: 15%;
    top: 200px;
    background: #fff;
    padding: 60px;
    width: 620px;
    border-radius: 15px;
}

#contact-map .description h2 {
    font-size: 40px;
    font-weight: 700;
    color: #2F2F88;
}

#contact-map .description div {
    margin-bottom: 20px;
}

#contact-shop .title-section {
    color: #2F2F88;
    text-align: justify;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

#contact-shop .info .title {
    color: #37BEC9;
    font-size: 20px;
    font-weight: 900;
}

#contact-shop .info .content {
    font-size: 16px;
}

#contact-shop .info .content p:first-child:before {
    content: "\f3c5";
    font-family: "Font Awesome 6 Pro";
    margin-right: 10px;
    color: #02B0BF;
    font-weight: 900;
}

#contact-shop .info .content p:last-child:before {
    content: "\f095";
    font-family: "Font Awesome 6 Pro";
    margin-right: 10px;
    color: #02B0BF;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    #contact {
        padding-top: 20px;
    }

    #contact #frmContact {
        padding: 20px;
        margin-top: 20px;
    }

    #panel_contact {
        width: 100%;
        margin-left: 0;
    }

    #contact-map .description {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 96%;
        padding: 10px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 950px) {
    #panel_contact {
        width: 100%;
        margin-left: 0;
    }

    #contact-map .description {
        left: 5%;
        top: 20px;
        background: #fff;
        padding: 20px;
    }

}

#newsletter {
    background: #fff;
}

#newsletter button {
    background: none;
    border: none;
}

#newsletter input {
    background: none;
    border: none;
}

@media screen and (max-width: 768px) {}

#hotline a {
    font-size: 18px;
    font-size: 600;
}

#footer {
    background: #37BEC9;
    padding-top: 70px;
    padding-bottom: 50px;
    color: #fff;
}

#footer a {
    color: #fff;
}

#footer #blogo img {
    max-height: 75px;
}

#footer_text #company {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

#footer_text #address {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

#footer .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize;
}

#footer_text ul {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#footer_text ul i {
    margin-right: 12px;
}

#footer_text ul li {
    margin-bottom: 10px;
}

#bmenu {
    font-size: 16px;
}

#footer .info-item img {
    margin-right: 20px;
}

#bsocial i {
    font-size: 22px;
    margin-left: 10px;
}

#footer #copyright_text {
    color: #888;
}

@media screen and (max-width: 768px) {
    #footer #blogo {
        text-align: center;
    }

    #bmenu {
        text-align: right;
    }

    #bsocial {
        margin-top: 15px;
    }
}

.news-home {
    margin-top: 100px;
}

.news-home .btn-themes img {
    margin-left: 80px;
}

.news-home .btn-viewall img {
    margin-left: 100px;
}

.news-home article {
    position: relative;
}

.news-home article .img {
    height: 380px;
    position: relative;
}

.news-home article .img::after {
    content: "";
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(106, 106, 165, 0.50) 72.5%, #285598 100%);
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    border-radius: 0 0 20px 20px;
}

.news-home article .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.news-home .description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
}

.news-home .title {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.news-home .post-date {
    color: #CEE8F6;
    font-size: 16px;
    font-weight: 600;
}

.news-home .description .desc {
    display: none;
}

.news-home article:hover .description .desc {
    display: block;
    color: #FFF;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .news-home .btn-themes {
        padding: 8px 12px;
    }

    .news-home .btn-themes img {
        margin-left: 20px;
    }

}

#news-list .imgbox {
    height: 220px;
    overflow: hidden;
}

#news-list .date {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #37BEC9;
}

#news-list .title {
    color: #27397C;
    font-size: 20px;
    font-weight: 700;
}

#news-list .desc {
    color: #27397C;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}

#news .pagination {
    color: #2F2F88;
    width: fit-content;
    margin: 30px auto;
}

#news .pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

#news .pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

#news .pagination li a {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #2F2F88;
    background: #C6EDFF;
    border: none;
}

#news .pagination li.active a,
#news .pagination li:hover a {
    color: #fff;
    background: #37BEC9;
}

.blog .posts-list article {
    box-shadow: 0 4px 16px rgba(var(--color-default-rgb), 0.1);
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.blog .posts-list .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}

.blog .posts-list .post-category {
    font-size: 16px;
    color: rgba(var(--color-default-rgb), 0.6);
    margin-bottom: 10px;
}

.blog .posts-list .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .posts-list .title a {
    color: var(--color-secondary);
    transition: 0.3s;
}

.blog .posts-list .title a:hover {
    color: var(--color-primary);
}

.blog .posts-list .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.blog .posts-list .post-author {
    font-weight: 600;
    margin-bottom: 5px;
}

.blog .posts-list .post-date {
    font-size: 14px;
    color: rgba(var(--color-default-rgb), 0.6);
    margin-bottom: 0;
}

.post-box .post-title a {
    display: block;
    color: #181C32;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.news-date {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
}

.news-title {
    color: #181C32;
    font-size: 38px;
    font-weight: 600;
}

.news-content {
    margin-top: 20px;
}

.others-img {
    width: 80px;
    height: 80px;
}

.others-date {
    color: #707070;
    font-size: 12px;
    font-weight: 400;
}

.others-title {
    color: #181C32;
    font-size: 16px;
    font-weight: 600;
}

.news-detail {
    text-align: justify;
    font-size: 16px;
}

.news-detail .title {
    color: #2F2F88;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}

.news-detail h4 {
    color: #2F2F88;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;

}

.news-detail ul li {
    margin-bottom: 8px;
}

:root {
    --swiper-navigation-size: 44;
}

.swiper-button-next-01,
.swiper-button-prev-01 {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #474747;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.swiper-button-next-01,
.swiper-button-prev-01 i {
    font-size: 20px;
}

.swiper-button-next-01 {
    right: 10px;
    left: auto;
}

.swiper-button-prev-01 {
    left: 10px;
    right: auto;
}

.swiper-pagination-bullet-active {
    background: #000;
}

#searchModal .btn-warning {
    background-color: #14B6C3;
    border: 1px solid #14B6C3;
    color: #fff;
}